body {
    background-color: #2B2D42;
}

h1,h2 {
    color: #EF233C;
}

img {
    margin-top: 2rem;
    margin-left: 2rem;
}

.anime-card {
    display: flex;
    
}

.template-selection {
    overflow: hidden;
}