@import "../../App.scss";

.anime-detailed-card a {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: auto;
  background-color: $color-lightblue;
  // padding: 1em;
  margin-bottom: 2rem;
  img {
    width: auto;
    height: 180px;
    object-fit: cover;
  }
  h3 {
    font-family: $font-family-heading;
    margin: 1em 0 1em 0;
    text-align: center;
    color: $color-darkred;
  }
  h4 {
    font-family: $font-family-heading;
    color: $color-darkred;
    display: none;
  }
  p {
    font-family: $font-family-text;
    color: $color-darkblue;
    text-align: justify;
    margin: 0 1rem;
  }
}

// TABLETTE MODE //
@media screen and (min-width: 768px) {
  .categorie-adc {
    display: flex;
    flex-direction: row;
    .anime-detailed-card {
      margin-left: 5%;
    }
  }
  .adc-categorie {
    display: flex;
    flex-direction: row-reverse;
    .anime-detailed-card {
      margin-right: 5%;
    }
  }
  .categorie-x2 {
    width: 62%;
    margin-left: 1%;
  }
  .x2-categorie {
    width: 62%;
    margin-right: 1%;
  }
  .anime-detailed-card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 30%;
    height: 800px;
    background-color: $color-lightblue;
    padding: 0;
  }
}

// DESKTOP MODE//
@media screen and (min-width: 1024px) {
  .anime-detailed-card {
    margin-right: 2%;
    margin-left: 2%;
    width: 40%;
  }
  .categorie-x2 {
    margin-left: 5%;
  }
  .x2-categorie {
    margin-right: 5%;
  }
}
