@import "../../App.scss";

/* VERSION MOBILE */
header {
  z-index: 100;
  font-family: $font-family-heading;
  background-color: $color-lightblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 30px 60px;
  position: relative;

  .logo-desktop {
    display: none;
  }

  button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
  }

  label {
    display: none;
  }

  #burger {
    width: 30px;
    height: 2px;
    background: white;
    display: inline-block;
    position: relative;
  }

  #burger::before,
  #burger::after {
    content: "";
    width: 30px;
    height: 2px;
    background: white;
    display: inline-block;
    position: absolute;
    transform-origin: center;
    transition: all 0.3s ease;
  }

  #burger::before {
    top: -7px;
    right: 0px;
  }

  #burger::after {
    top: 7px;
    right: 0px;
  }

  #burger.open {
    background: transparent;
  }

  #burger.open::before {
    transform: rotate(45deg);
    top: 0;
  }

  #burger.open::after {
    transform: rotate(-45deg);
    top: 0;
  }

  nav {
    border-top: 2px black;
  }

  .loupe {
    display: flex;
    flex-direction: column;
    background: $color-lightblue;
    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;
    transform: scaleY(0);
    transform-origin: center top;
    align-items: center;
    .search {
      display: none;
    }
  }

  .loupe.open {
    transform: scaleY(1);
    li {
      padding: 40px 96px;
    }
  }

  .loupe li {
    text-align: center;
    list-style: none;
    font-size: 1.1em;
    color: $color-white;
    a {
      color: $color-white;
      text-decoration: none;
    }
  }
}
.sous li {
  font-size: 1px;
}

/* VERSION TABLETTE */
@media screen and (min-width: 768px) {
  header .logo-mobile {
    display: none;
  }
  header .logo-desktop {
    display: block;
    width: 200px;
  }

  header {
    button {
      display: none;
    }
    padding: 30px 0;
    justify-content: space-around;
    .loupe.open {
      padding: 0px 2em;
      align-items: center;
      li {
        float: left;
        text-align: center;
        position: relative;
        padding: 16px 2em;
      }
    }
  }

  nav {
    .loupe.deroulant:hover {
      color: $color-darkblue;
    }
    .loupe.deroulant {
      a::after {
        font-size: 12px;
      }
    }
    .sous {
      a:hover {
        border-bottom: none;
        background-color: RGBa(200, 200, 200, 0.1);
      }
      a {
        padding: 10px;
        border-bottom: none;
      }
      li {
        float: none;
        width: 100%;
        text-align: left;
      }
      display: none;
      background-color: $color-lightblue;
      position: absolute;
      height: 375px;
      z-index: 1000;
    }
    .loupe::after {
      content: "";
      display: table;
      clear: both;
    }
    a {
      display: block;
      text-decoration: none;
      border-bottom: 2px solid transparent;
      padding: 10px 0px;
    }
    .loupe {
      background: url("/assets/logo/Search.svg") left / contain no-repeat;
      padding-left: 2em;
      height: 1.2em;
      li:hover .sous {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 30px;
      }
      li {
        font-size: 0.7em;
        padding: 1em;

        a:hover {
          color: $color-darkblue;
        }
      }
    }
  }

  header .loupe {
    flex-direction: row;
    justify-content: right;
    position: unset;
    transform: scaleY(1);
  }
}

/* VERSION PC */
@media screen and (min-width: 1024px) {
  header {
    justify-content: space-around;
    nav {
      align-items: center;
      padding: 30px 0;
      .loupe {
        background: initial;
        li {
          font-size: 0.8rem;
          display: flex;
          justify-content: center;
        }
      }
    }
  }

  label.searchbar:before {
    content: "";
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    width: 20px;
    background: url("/assets/logo/Search.svg") center / contain no-repeat;
  }

  input {
    height: 40px;
    width: 300px;
    padding: 10px 30px;
    background-color: $color-lightblue;
    border: 1px solid rgb(111, 110, 110);
  }

  header .logo-mobile {
    display: none;
  }
  header .logo-desktop {
    display: block;
    width: 300px;
  }

  header label {
    display: initial;
    position: relative;
  }

  input {
    display: block;
  }
}
