@import "../../App.scss";

body {
  background-color: $color-darkblue;
}

h1,
h2 {
  font-family: $font-family-heading;
  color: $color-lightred;
}

h2 {
  text-align: center;
  
}
hr {
  margin-top: 2rem;
}

img {
  margin-top: 2rem;
  margin-left: 2rem;
}
.image-selection {
  width: 200px;
  height: 300px;
}

.anime-card {
  display: flex;
}

.template-selection {
  overflow: hidden;
  margin-top: 2rem;
}

@media screen and (min-width:768px) {
  .template-selection {
   
    margin-left: 10%;
    margin-right: 40%;
    margin-top: 2rem;
  }
}
  
