@import "../../App.scss";

body {
  background-color: $color-darkblue;
}

.bloc-selection {
  h2,
  h3 {
    font-family: $font-family-heading;
    color: $color-lightred;
  }

  h2 {
    margin-top: 1.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  img {
    margin-top: 2rem;
    margin-left: 2rem;
  }

  .anime-card {
    display: flex;
    h3 {
      text-align: center;
    }

    .image-selection {
      width: 150px;
      height: 200px;
    }
  }
}

.bloc-selection:nth-child(even) {
  h2 {
    text-align: right;
  }
}

.bloc-selection:nth-child(odd) {
  h2 {
    text-align: left;
  }
}

.template-selection {
  overflow: hidden;
  margin-top: 2rem;
}

@media screen and (min-width: 768px) {
  .template-selection {
    margin-left: 10%;
    margin-right: 30%;
    margin-top: 2rem;
  }
}
hr {
  margin-top: 1rem;
}
