@import "../../App.scss";

body {
  background-color: $color-darkblue;
}

.bloc-selection {
  h2,
  h3 {
    font-family: $font-family-heading;
    color: $color-lightred;
    margin: 1rem 0;
  }

  .dad-anime-card {
    display: flex;
    justify-content: left;
    .overflow {
      width: 150px;
      margin-bottom: 0;
      position: relative;
      --lh: 1.4rem;
      line-height: var(--lh);
      --max-lines: 2;
      max-height: calc(var(--lh) * var(--max-lines));
      overflow: hidden;
      padding-right: 0;
    }
    .overflow::before {
      position: absolute;
      content: " *";
      bottom: 3px;
      right: 0;
    }
    .overflow::after {
      position: absolute;
      content: "";
      right: 0; /* note: not using bottom */
      width: 0.6rem;
      height: 0.7rem;
      background: $color-darkblue;
    }
    .anime-card {
      padding: 30px 20px;
      width: 190px;
      display: flex;
      flex-direction: column;
      justify-content: start;
      h3 {
        text-align: center;
      }
      .image-selection {
        width: 150px;
        height: 200px;
      }
    }
  }
}

.bloc-selection:nth-child(3),
.bloc-selection:nth-child(6) {
  h2 {
    text-align: right;
  }
}

.bloc-selection:nth-child(2),
.bloc-selection:nth-child(5) {
  h2 {
    text-align: left;
  }
}

.template-selection {
  overflow: hidden;
  margin-top: 2rem;
}

@media screen and (min-width: 768px) {
  .template-selection {
    max-width: 1330px;
    margin: 1rem auto;
  }
}
