@import "../../App.scss";

body {
  background-color: $color-darkblue;
}

h1,
h2 {
  font-family: $font-family-heading;
  color: $color-lightred;
}

.image {
  margin-top: 2rem;
  margin-left: 2rem;
}

.anime-card {
  display: flex;
}

.template-selection {
  overflow: hidden;
}
